@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-family: 'Sriracha', cursive;
}

.carrito{
    position: relative;
    left: 25%;

}
.enlaces p{
    font-size: 15px;
}
.enlaces a{
    text-decoration: none;
    color: black;

    
}
.enlaces a:hover{
    color: blue;
    font-size: 16px;

}
@media (max-width: 1199px) {

    .carrito{
        position: relative;
        left: auto;
    }
    
  }
@media (max-width: 600px) {

    .git{
        position: relative;
        left: -70px;
    }
    .carrito{
        left: auto;
    }
    
  }